.player-bar {
  width: 500px;
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-align: center;
}

.mdl-button {
  margin-top: 1px;
  margin-bottom: 20px;
  margin-right: 5px;
  border: black 2px solid;
}

#volume-control {
  margin-top: 25px;
  margin-bottom: 20px;
}
